@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --dark-blue: #100e1d;
  --blue: #1e213a;
  --medium-blue: #585676;
  --light-blue: #e7e7eb;
  --gray: #6e707a;
  --font-family: "Raleway", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  min-height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
